@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: #202020;
  scroll-padding: 50px;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *,
  .light-scrollbar {
    &::-webkit-scrollbar-track {
      background: #00000000;
    }

    &::-webkit-scrollbar-corner {
      background: #00000000;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffffff20;
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #ffffff40;
    }
  }

  .dark-scrollbar {
    &::-webkit-scrollbar-track {
      background: #ffffff00;
    }

    &::-webkit-scrollbar-corner {
      background: #ffffff00;
    }

    &::-webkit-scrollbar-thumb {
      background: #00000020;
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #00000040;
    }
  }

  .hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    & ::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
